  <%- include('header.ejs') %>

  <body>
    <div class="container">
      <div class="response-area">
        <% if (locals.content) { %>
          <!-- <p>
            <%= JSON.stringify(content) %>
          </p> -->
          
         <% content.forEach(element => { %>
          <hr>
        <p>
          <h5>Title</h5>
          <p></p>    
          <%= `English: ${JSON.stringify(element.attributes.titles.en)} |` %>
          <%= ` English_Japanese: ${JSON.stringify(element.attributes.titles.en_jp)} |` %>
          <%= ` Japanese: ${JSON.stringify(element.attributes.titles.ja_jp)}` %>
        </p>
        <p>
          <h5>ID</h5>
          <%= JSON.stringify(element.id) %>
        </p>
        <p>
          <h5>Synopsis</h5>
          <%= `${JSON.stringify(element.attributes.synopsis)}` %>
        </p>
        <p>
          <h5>Episode Count</h5>
          <%= `${JSON.stringify(element.attributes.episodeCount)}` %>
        </p>
        <% }); %>
        <p><h1>That'll Be FIVE BUCKS bayBEEE!</h1></p>
        <% } else { %>
          <h2>Let's Find Some Anime Baybeeee!</h2></2>
        <% } %>
      </div>

      <!-- Filters Section -->
      <h3 class="row-12">Filter Section</h3>
      <form id="myForm" method="post">
        <div class="grid">
          <div class="row mb-6">
            <div class="col mb-6">
              <div class="dropdown">
                <h4>Rating Filter</h4>
                <select name="rating">  
                  <option name="rating" value="" selected>Select Rating</option>
                  <option name="rating" value="R18">R18 - Rated</option>
                  <option name="rating" value="R">R - Rated</option>
                  <option name="rating" value="PG">PG - Rated</option>
                  <option name="rating" value="G">G - Rated</option>
                </select>
              </div>
            </div>
            <div class="col mb-6">
              <h4>Filter By Status</h4>
              <select name="status">
                <option value="" selected>Select</option>
                <option value="current">Current</option>
                <option value="finished">Finished</option>
                <option value="tba">TBA</option>
                <option value="unreleased">Unreleased</option>
                <option value="upcoming">Upcoming</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <h4>Filter By Subtype</h4>
              <select name="subtype">
                <option value="" selected>Select</option>
                <option value="fall">Fall</option>
                <option value="spring">Spring</option>
                <option value="summer">Summer</option>
                <option value="winter">Winter</option>
              </select>

              <hr>
              <!--Sort Section-->
              <h3>Sort Section</h3>
              <div class="col">
                <h4>Sort By Favorite Count</h4>
                <select name="sort">  
                  <option value="False" selected>False</option>
                  <option value="True">True</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <h4>Sort By Episode Count</h4>
              <select name="episode_sort">
                <option value="False" selected>False</option>
                <option value="True">True</option>
              </select>
            </div>
          </div>
        <div class="row">
          <label for="submit">GET NEW ANIME</label>
          <input id="get" type="submit" value="GET" formaction="/search">
        </div>
        
      </form>
</body>

<%- include('footer') %>